.chat-main
  .header
    .left-box
      %h2.left-box__group-name
        = @group.name
      %ul.left-box__member-list
        Member:
        %li.left-box__member-name
          - @group.group_users.each do |group_users|
            = group_users.user.name
    .right-box
      = link_to edit_group_path(@group.id)  do
        .right-box__btn
          Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__mask
        .form__box
          = f.text_field :content, class: 'form__box__message', placeholder: 'type a message'
          = f.label :image, class: 'form__box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'form__submit'